.App {
  text-align: center;
}

.ForwardRef {
  background-color: #ffbd45;
}

/* body{
  background: linear-gradient(to bottom,  #F5F5DC 70%, #ffbd45);
  justify-content: center;
  align-items: center;
} */

/* img{
  display: flex;
  align-Content: flex-end;
  flex-wrap: wrap
} */

body { 
      min-height: 100vh; 
    }

    main { 
      min-height: 100vh; 
    }

.MuiDrawer-paper{
  background: linear-gradient(to bottom,  #155E9D 100%, #155E9D);
}

.MuiDrawer-paperAnchorRight{
  background: linear-gradient(to bottom,  whitesmoke 100%, whitesmoke);
}

/* .MuiDataGrid-cellContent {
  justify-content: center;
  flex-wrap: wrap;
} */










