.App {
  text-align: center;
}

.ForwardRef {
  background-color: #ffbd45;
}

/* body{
  background: linear-gradient(to bottom,  #F5F5DC 70%, #ffbd45);
  justify-content: center;
  align-items: center;
} */






