.App {
  text-align: center;
}


/* html, body{
  height: 100%;
}
body{

  background: linear-gradient(to bottom,  #F5F5DC 70%, #ffbd45);
  justify-content: center;
  align-items: center;
} */

.NavDrawer {
  background-color:#145F99 ;
}


